/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.19);
  border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.205);
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.296);
}

@font-face{
  font-family:Pangea;

  font-style:normal;

  font-weight:400;

  src:url('/fonts/Pangea-Regular.otf');

  font-display:swap
}

@font-face{
  font-family:Pangea;

  font-style:normal;

  font-weight:500;

  src:url('/fonts/Pangea-SemiBold.otf');

  font-display:swap
}

